*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #222222;
    font-weight: 400;
}
body{
    background-color: #FFFFFF;
}
        /* start nav bar  */
nav{
    display: flex;
    width: 50%;
    margin-top: 20px;
    margin-left: 89px;
}
ul{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
.nav-list-div{
    display:flex;
    margin-left: 105px;
}
.logo-nav-bar{
    margin-left: 37px;
    display: flex;
}
.home{
    color:#0082F3;
}

li{
    padding:20px
}
h1{
    padding-top: 13px;
    padding-left: 10px;
}
        /* end nav bar  */




        /* start mid bar  */
        /* start dev 1 */
.section-1{
    margin-left: 124px;
}
.countaner-1{
    width: 465px;
    position: relative;
    margin: 20px 154px;
}
.photo1{
    position: absolute;
    transform: translate(47em, -9em);
}        
.get-instant{
    font-size: 22px;
    margin: 10px 0px 10px 59px;
}
h2{
    margin-top: 96px;
    margin-left: 60px;
    font-size: 40px;
}
.download{
    display: flex;
}
.get-google{
    font-size: 10px;
    transform: translate(33px, 9px);
}

.sotres-color{
    color: #582EFF;
    transform: translate(34px, -19px);
}  

.google-div, .apple-div{
    margin-left: 57px;
    width: 150px;
    height: 49px;
    border-radius: 5px;
    background-color: #EEEAFF;
}
.store-img{
    padding-left: 12px;
}
.get-app{
    font-size: 10px;
    transform: translate(36px, 6px);
}
@media(min-width:1600px){
    .section-1 {
    margin-left: 13%;
    }
}
/* end dev 1  */



/* start dev 2  */
.section2{
    margin-top:300px;
}
.photo2{
    position: absolute;
    transform: translate(18em, -2em);
}

.dev2{
    width: 450px;
    transform: translate(45em, 2em);
}
@media(min-width:1600px){
    .section2 {
    margin-left: 13%;
    }
    .photo2{
        transform: translate(14em, -2em);
    }
}
        /* end dve 2  */
        /* start dev 3  */
.section3{
    margin-top: 279px;
    text-align: center;
}
.countaner3{
    margin: 27px auto 0;
    display: flex;
    justify-content: space-around;
    width: 1300px;
}
.set-up-acc{
    width: 272px;
    border-top: 12px solid #582EFF;
    height: 289px;
    box-shadow: 0px 4px 90px 100px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.set-up-acc img{
    margin-top: 34px;
}
.set-up-acc h3{
    margin-top: 36px;
}
.set-up-acc p{
    margin-top: 36px;
}
.color-orange{
    width: 272px;
    border-top: 12px solid #FF814A;
    height: 289px;
    box-shadow: 0px 4px 90px 100px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.color-orange img{
    margin-top: 34px;
}
.color-orange h3{
    margin-top: 36px;
}
.color-orange p{
    margin-top: 36px;
}
.color-green{
    width: 272px;
    border-top: 12px solid #31C5A1;
    height: 289px;
    box-shadow: 0px 4px 90px 100px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.color-green img{
    margin-top: 34px;
}
.color-green h3{
    margin-top: 36px;
}
.color-green p{
    margin-top: 36px;
}


        /* end dev 3 */
        /* end mid bar */



        /* start bottom  */
        /* start section 4  */
.section4{
    text-align: center;
    width: 100%;
    padding-top: 63px;
    height: 337px;
    background-color: #31C5A1;
    margin-top: 47px;
}
.section4 h2{
    color: #FFFFFF;
}
.download2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.download2 div{
    margin-left: 57px;
    width: 150px;
    height: 49px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.get-app2{
    font-size: 12px;
    transform: translate(-1px, 10px);
    margin-top: 4px;
}
.get-app3{
    font-size: 12px;
    transform: translate(15px, 8px);
    margin-top: 4px;
}
.sotres-color2{
    color: #31C5A1;
    font-weight: bold;
    transform: translate(12px, -20px);

}
.store-img2{
    padding-left: 0px;
    transform: translate(-49px, -5px);
}

        /* end section 4  */


        /* start section 5  */
.section5{
    width:100%;
    height: 200px;
    background-color: #ffffff;
    padding-top: 33px;
}
.dis-list-botm{
    width: 845px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 20px;
}
.dis-list-botm dt{
    margin-bottom: 10px;
}
        /* end section 5  */
        /* end bottom  */
        